@font-face {
	font-family: ButlerStencil;
	src: url("/fonts/Butler_Regular_Stencil.otf") format("opentype");
}

@font-face {
	font-family: ButlerStencilBold;
	src: url("/fonts/Butler_ExtraBold_Stencil.otf") format("opentype");
}