.tooltip {
	position: absolute;
	text-align: center;
	height: 28px;
	padding: 6px 12px;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	background-color: white;
}

.chart-container {
	width: 33%;
	display: inline-block;
	padding: 0px 10px;
}