.sunburst-tooltip {
	position: absolute;
	text-align: center;
	height: 28px;
	padding: 6px 12px;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	background-color: white;
}



.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
